/* COLORS */

$primary: #1f1f1f;

/* LAYOUT WIDTHS */

$xxxl-layout: 1600px;
$xxl-layout: 1440px;
$xl-layout: 1280px;
$l-layout: 1024px;
$sl-layout: 912px;
$md-layout: 768px;
$sm-layout: 540px;
$s-layout: 425px;
$xs-layout: 320px;
